$link-inactive-color: #566474;
$link-active-back: #f7f8fa;
$link-active-color: #445ee2;
$link-hover-back: #fafbfc;
$link-hover-color: #6f84ee;
$border-color: #ebf0f5;
$text-color: #1e272e;
$button: #142683;
$chart: #438af6;
