/* // .comparison-graph {
//   grid-column: 1/2;
//   grid-row: 2/-1;
//   margin-top: 3rem;
//   border: 1px solid $border-color;
//   border-radius: 10px;
//   padding: 2.1rem 1.6rem;
//   margin-right: 30px;
//   .graph-head {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     margin-bottom: 2.2rem;
//     .head-graph {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       width: 50px;
//       height: 50px;
//       background-color: #f7f8fa;
//       border-radius: 50%;
//       font-size: 0.85rem;
//     }
//   }

//   .graph-main {
//     .main-content {
//       font-size: 0.9rem;
//       letter-spacing: -0.02em;
//       line-height: 150%;
//       color: $link-inactive-color;
//       margin-bottom: 2rem;
//     }
//     .main-graph {
//       width: 100%;
//       height: auto;
//       img {
//         width: 100%;
//         height: auto;
//       }
//     }
//   }
// }

// @media all and (max-width: 1100px) {
//   .comparison-graph {
//     grid-column: 1/-1;
//     grid-row: 4/-1;
//   }
// } */

/* // styling */

.graph {
  box-sizing: border-box;
  position: absolute;
  top: 25vh;
  width: 617px;
  height: 225px;
  padding: 30px;
}

.graphTexts {
  padding-top: 38vh;
}

.graphTexts > h6 {
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #1e272e;
  margin-bottom: 20px;
}

.graphTexts > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #566474;
}

.graphTexts > p > span {
  font-weight: 700;
}

.graphContents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  
}

.graphLogo {
  margin-top: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #f7f8fa;
  border: 1px solid #ebf0f5;
  margin-right: 0;
}

.chartDiv {
  box-sizing: border-box;
  width: 557px;
  height: 107px;
}

.graphChart {
  position: relative;
  top: -90vh;
  left: -17vw;
  
}

.graphChart > p {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #9eaab7;
  position: absolute;
  top: 970px;
}

hr {
  position: absolute;
  width: 304px;
  height: 0px;
  top: 795px;
  border: none;
  border-bottom: 1px dashed #ff9142;
  transform: rotate(-90deg);
}
.chartDiv > svg {
  position: absolute;
  width: 648px;
  height: 177px;
  left: 265px;
  top: 764px;
}

.bluex {
  position: absolute;
  width: 304px;
  height: 0px;
  top: 795px;
  background: #438af6;
  border: none;
  border-bottom: 1px dashed #438af6;
  transform: rotate(-90deg);
}

.vertical {
  border: 1px dashed #ebf0f5;
}

.coverDiv {
  position: absolute;
  width: 131.4px;
  height: 305px;
  top: 650px;
  background: #438af6;
  opacity: 0.1;
}

.graph > svg {
  position: absolute;
  width: 124px;
  height: 95px;
  left: 426px;
  top: 764px;
  border: 2px solid #438af6;
  border-radius: 2px;
}
.orangeDot {
  position: absolute;
  width: 11px;
  height: 11px;
  left: 729px;
  top: 758px;
  border-radius: 50%;
  background: #ff9142;
}
.blueDot {
  position: absolute;
  width: 11px;
  height: 11px;
  top: 758px;
  border-radius: 50%;
  background: #438af6;
}
.blackDiv {
  padding: 0 5px 25px 0;
  position: absolute;
  width: 160px;
  height: 55px;
  text-align: center;
  top: 704px;
  background: #1e272e;
  border-radius: 5px;
}
.blackDiv > h6 {
  font-weight: 700;
  font-size: 16px;
  line-height: 10px;
  color: #ffffff;
}
.blackDiv > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.7);
}
.blackTri {
  position: absolute;
  top: 740px;
}
